---
layout: default_book
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}

   
    <!-- Books Visits -->
    <section id="book">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.home.book.heading }}</h2>
            <!-- <h3 class="section-subheading">{{ site.data.home.visit.subheading }}</h3> -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <div id="flipbook">
              <div class="hard">
                <img class="book_img" src="{{ assets_path }}{{site.data.home.book.cover}}" />
                </div>
              {%- for page in site.data.home.book.pages -%}
              {% assign ws = '' %}
              <div >
                <img class="book_img" src="{{ assets_path }}{{page.img}}" />
              </div>
              {%- endfor -%}
              {% assign ws = '' %}
            </div>
          </div>
        </div>
      </div>
      
    </section>

     
