{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <title>{{ site.title }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Custom fonts for this template -->
    <link href="{{ assets_path }}vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Amaranth|Chewy|Indie+Flower|Merienda+One|Nanum+Brush+Script&display=swap" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{{ assets_path }}css/agency.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark book_nav" id="mainNav2">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">{{ site.data.default.brand.name }}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          {{ site.data.default.menu-string }}
          <i class="fa fa-bars"></i>
        </button>
        
      </div>
    </nav>
{{ content }}
    <!-- Footer -->
    <footer id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">{{ site.data.default.copyright }}</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              {%- for sm in site.data.default.social-buttons -%}
              {% assign ws = '' %}
              <li class="list-inline-item">
                <a href="{{ sm.url }}">
                  <i class="{{ sm.icon }}"></i>
                </a>
              </li>
              {%- endfor -%}
            {% assign ws = '' %}
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              {%- for ql in site.data.default.quicklinks -%}
              {% assign ws = '' %}
              <li class="list-inline-item">
                <a href="{{ ql.url }}">{{ ql.title }}</a>
              </li>
              {%- endfor -%}
            {% assign ws = '' %}
            </ul>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{{ assets_path }}vendor/jquery/jquery.min.js"></script>
    <script src="{{ assets_path }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ assets_path }}vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="{{ assets_path }}js/jqBootstrapValidation.js"></script>
    <script src="{{ assets_path }}js/contact_me.js"></script>

    <!-- Turnjs-->
    <script src="{{ assets_path }}vendor/turnjs/turn.min.js"></script>
    <script src="{{ assets_path }}vendor/turnjs/scissor.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ assets_path }}js/agency.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126128769-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-126128769-1');

      (function ($) {
        $(document).ready(function(){

          // hide .navbar first
          $(".navbar").show();

        });
      }(jQuery));

        $("#flipbook").turn({
          width: 800,
          height: 900,
          autoCenter: true
        });
    </script>

  </body>

</html>
